/* .container-grid{
    
    padding: 10px;
} */

.container-grid {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

/* .main-item {
  background-color: #e0e0e0;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
} */

.grid-item {
  background-color: grey;
  padding: 6px 10px;
  margin-bottom: 4px;
  border-radius: 4px;

}

.sub-items {
  /* margin-left: 15px; */
  margin-top: 5px;
  border: 1px 1px;

}

.sub-item {
  background-color: #f5f5f5;
  color:black;
  padding: 6px 10px;
  margin-bottom: 4px;
  border-radius: 4px;
  cursor: grab;
}

.delete-btn {
  background: transparent;
  border: none;
  color: red;
  margin-left: 6px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover {
  color: darkred;
}
